@font-face{
	font-family: "Darleston";
	src: url("/public/fonts/darleston/Darleston") format("otf");
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body {
	color: white;
	margin: 0;
	box-sizing: border-box;
	font-family: "Merienda";
	background-color: black;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Darleston";
	color: #C4B479;
	font-weight: 100;
}

h1{
	font-size: 6em;
}
h2{
	font-size: 5em;
}
h3{
	font-size: 3em;
}


a {
	color: rgb(0,100,200);
	text-decoration: none;
}
a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

p.list-item{
	position: relative;
}
p.list-item.left::before, p.list-item.right::after{
	content:"";
	display: inline-block;
	height: 1.6rem;
	width: 1.65rem;
	background-image: url("./assets/list-icon--white.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	top: .5rem;
}
p.list-item.left::before{
	margin-right: .75rem;
}
p.list-item.right::after{
	margin-left: .75rem;
}