/***
	TABLE OF CONTENT
01 TITLES
02 CONTENT
03 INPUTS & BUTTONS

**/

@font-face{
	font-family: "Darleston";
	src: url("/public/fonts/darleston/Darleston") format("otf");
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body {
	color: white;
	margin: 0;
	box-sizing: border-box;
	font-family: "Merienda";
	background-color: black;
	font-size: 14px;
}
@media screen and (min-width: 586px) {
	body {
		font-size: 15px
	}
}
@media  screen and (min-width: 996px) {
	body {
		font-size: 16px
	}
}

* {
box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Darleston";
	color: #C4B479;
	font-weight: 100;
}

h1{
	font-size: 2.5em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}

@media screen and (min-width: 586px) {
	h1{
		font-size: 4em;
	}
	h2 {
		font-size: 3em;
	}
	h3 {
		font-size: 2em;
	}
}

@media screen and (min-width: 996px) {
	h1{
		font-size: 5em;
	}
}

.content{
	width: 300px;
	margin: 0 auto;
}
@media screen and (min-width: 586px) {
	.content{
		width: 500px;
	}
}
@media screen and (min-width: 996px) {
	.content{
		width: 768px;
	}	
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}
a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

p.list-item{
	position: relative;
}
p.list-item.left::before, p.list-item.right::after{
	content:"";
	display: inline-block;
	height: 1.6rem;
	width: 1.65rem;
	background-image: url("./assets/list-icon--white.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	top: .5rem;
}
p.list-item.left::before{
	margin-right: .75rem;
}
p.list-item.right::after{
	margin-left: .75rem;
}

ul{
	list-style: none;
	padding-left: 0;
}

